## Тема “Вычисления с помощью Numpy”

### Task 1

In [77]:
import numpy as np
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]])
a = a.transpose()
mean_a = [a[:,0].mean(),a[:,1].mean()]
print(a)
print(mean_a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
[2.0, 8.4]

### Task 2

In [83]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Task 3

In [87]:
a_centered_sp = sum(a_centered[:,0] * a_centered[:,1]) / (5 - 1)
print(a_centered_sp)

2.0

### Task 4

In [99]:
np.cov(a.T)[0,1]

2.0

## Тема “Работа с данными в Pandas”

### Task 1

In [106]:
import pandas as pd
authors = pd.DataFrame({'author_id':[1, 2, 3], 'author_name':['Тургенев', 'Чехов', 'Островский'] })
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 'price':[450, 300, 350, 500, 450, 370, 290] })
print(authors)
print()
print(books)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Task 2

In [109]:
authors_price = pd.merge(authors,books, on='author_id',how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Task 3

In [112]:
top5 = authors_price.sort_values(by="price",ascending=False).head()
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Task 4

In [123]:
authors_stat = authors_price.groupby("author_name").agg({"price":[("min_price","min"),("max_price","max"),("mean_price","mean")]})

print(authors_stat)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

### Task 5

In [128]:
authors_price.loc[:,"cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [130]:
book_info = pd.pivot_table(authors_price, index="author_name", values="price", columns="cover", aggfunc=np.sum,fill_value=0)
print(book_info)

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [136]:
book_info.to_pickle("book_info.pkl")
book_info2 = pd.read_pickle("book_info.pkl")
print(book_info2)
book_info == book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

cover        мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True